
.card {
    padding: 9px;
    position: relative;
}
.card img {
    padding: 0;
}
.delete-form {
    display: inline;
}

#edit-btn {
    max-width: 9%;
}
#map {
    height: 400px;
    width: 100%;
    margin: 20px;
}
.map-div {
    margin-right: 40px;
}
.address {
    margin-left: 30px;
}