
.card {
    padding: 9px;
    position: relative;
}
.card img {
    padding: 0;
}
.delete-form {
    display: inline;
}

#edit-btn {
    max-width: 9%;
}
#map {
    height: 400px;
    width: 100%;
    margin: 20px;
}
.map-div {
    margin-right: 40px;
}
.address {
    margin-left: 30px;
}



/* campgrounds */
.welcome {
    margin-top: 60px;
}


/* Authentication */
.auth-box {
    width: 400px;
    background-color: #f1f1f1 !important;
    padding: 40px 40px;
    margin: 220px auto;
    border-radius: 10px;
}